body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
}

.grid{
	text-align: center;
	display: grid;
	border: 1px solid black;
	background-color: #4FD5DD;
	grid-template-columns: 0.75fr 3fr 3fr 3fr 0.75fr;
	grid-template-areas: 
	". inicio inicio inicio inicio";
}

.inicio{
	color: white;
	text-align: left;
	grid-area:inicio;
	display: grid;
	grid-template-columns: 5fr 2.5fr;
	grid-template-rows: .75fr .5fr .5fr;
	grid-template-areas: 
	"nombreweb ."
	"buscador ."
	"menu login";
}

.nombreweb{
	grid-area: nombreweb;
	font-weight: 525;
	font-size: 24px;
}

.buscador{
	grid-area: buscador;
	margin-bottom: 10px;
}

.menu{
	grid-area: menu;
}

.mibot{
	background: transparent;
}

.mibot:hover{
	background: #73DFE5;
}

.login{
	grid-area: login;
	text-align: right;
}

.desplegable{
	display: inline-block;
}

.productos{
	grid-area: productos;
	background-color: white;
}